<%- include('./partials/head') %>

<main class="schedule-main">
    <div class="schedule-content-wrapper">
        <!-- Heading with logo -->
        <div class="logo-lg">
            <img src="/assets/logo-text-svg.svg" alt="Commentary Source logo" class="logo-text">
        </div>

        <section class="team-form component">
            <h1 class="team-form-heading">Add Fact</h1>

            <form class="add-team-form" action="/factform" method="post" name="addPlayerFactForm">
                <div class="form-content">
                    <div class="form-group">
                        <label for="question">Question</label>
                        <select name="question" id="question">
                            <% questions.forEach(question => { %>
                                <option value="<%- question.id %>"><%- question.title %></option>
                            <% }) %>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="answer">Answer</label>
                        <input type="text" name="answer" id="answer" value="">
                    </div>

                    <input type="text" name="reference" value="<%- playerID %>" hidden>
                </div>
                <input class="form-submit" type="submit" value="Add Fact">
            </form>

            <div class="extra-form-info">
                <p>Question not available?</p>
                <a href="/addquestion">Add a new one!</a>
            </div>
        </section>
    </div>

    <!-- Sidebar nav -->
    <%- include('./modules/AsideNav') %>

</main>

<script src="/scripts/menuScript.js"></script>
<%- include('./partials/footer') %>
