<%- include('./partials/head') %>

<main class="schedule-main">
    <div class="schedule-content-wrapper">
        <!-- Heading with logo -->
        <div class="logo-lg">
            <img src="./assets/logo-text-svg.svg" alt="Commentary Source logo" class="logo-text">
        </div>

        <section class="team-form component">
            <h1 class="team-form-heading">Add Team</h1>

            <form class="add-team-form" action="/teamform" method="post" name="addTeamForm">
                <div class="form-content">
                    <div class="form-group">
                        <label for="name">Team name *</label>
                        <input type="text" name="name" value="<%= locals.values?.name ?? ''%>" required>
                    </div>

                    <div class="form-group">
                        <label for="country">Country *</label>
                        <input type="text" name="country" value="<%= locals.values?.country ?? ''%>" required>
                    </div>

                    <div class="form-group">
                        <label for="seeding">Seeding *</label>
                        <input type="number" name="seeding" value="<%= locals.values?.seeding ?? ''%>" required>
                    </div>

                    <div class="form-group">
                        <label for="iso2">Iso 2 *</label>
                        <input type="text" name="iso2" value="<%= locals.values?.iso2 ?? ''%>" required>
                    </div>

                    <div class="form-group">
                        <label for="iso3">Iso 3 *</label>
                        <input type="text" name="iso3" value="<%= locals.values?.iso3 ?? ''%>" required>
                    </div>

                    <div class="form-group">
                        <label for="olympicCode">Olympic Code *</label>
                        <input type="text" name="olympicCode" value="<%= locals.values?.olympicCode ?? ''%>" required>
                    </div>
                    <!-- Add Empty Team array in the backend -->
                    <!-- Add Empty Facts array in the backend -->
                </div>
                <input class="form-submit" type="submit" value="Add Team">
            </form>
        </section>
    </div>

    <!-- Sidebar nav -->
    <%- include('./modules/AsideNav') %>

</main>

<%- include('./partials/footer') %>