<%- include('./partials/head') %>

<main class="commentate-main">
	<!-- Heading with game info -->
	<%- include('./modules/Commentate/Header', {gameData}) %>

	<!-- Legend -->
	<%- include('./modules/Commentate/Legend') %>

	<!-- Game score -->
	<%- include('./modules/Commentate/GameScore', {gameData, gameStats}) %>

	<!-- Team One -->
	<%- include('./modules/Commentate/Players/TeamOne', {gameData, playerData}) %>

	<!-- Team Two -->
	<%- include('./modules/Commentate/Players/TeamTwo', {gameData, playerData}) %>

	<!-- Scoreboard -->
	<%- include('./modules/Commentate/Scoreboard') %>

	<!-- Stats -->

	<%# include('./modules/AsideNav') %>


</main>
<%- include('./partials/footer') %>