<%- include('./partials/head') %>

<div class="main-form-wrapper">


    <div class="form-wrapper">
        <%- include('./modules/Commentate/Forms/PlayerForm', {teams: allTeams.teams}) %>
    </div>

    <div class="form-wrapper">
        <%- include('./modules/Commentate/Forms/TeamForm') %>
    </div>

    <div class="form-wrapper">
        <%- include('./modules/Commentate/Forms/FactForm', {players: playerData.players, questions: questionData.questions}) %>
    </div>

    <div class="form-wrapper">
        <%- include('./modules/Commentate/Forms/QuestionForm') %>
    </div>

</div>

<%- include('./partials/footer') %>