<section class="header component">
    <img src="/assets/logo.svg" alt="Commentary source logo" class="logo-sm">
    <div class="scroll-text-container">
        <div class="scroll-text">
            <span><%- gameData.games[0].field %> -</span>
            <span><%- gameData.games[0].broadcaster %> -</span>
            <span><%- gameData.games[0].division %> -</span>
            <span><%- gameData.games[0].gameStatus %> -</span>
        </div>

        <div class="scroll-text">
            <span><%- gameData.games[0].field %> -</span>
            <span><%- gameData.games[0].broadcaster %> -</span>
            <span><%- gameData.games[0].division %> -</span>
            <span><%- gameData.games[0].gameStatus %> -</span>
        </div>

        <div class="scroll-text">
            <span><%- gameData.games[0].field %> -</span>
            <span><%- gameData.games[0].broadcaster %> -</span>
            <span><%- gameData.games[0].division %> -</span>
            <span><%- gameData.games[0].gameStatus %> -</span>
        </div>
    </div>
    <p class="live-icon">Live</p>
</section>