<section class="scoreboard component">
    <!-- Scoreboard Legend -->
    <div class="sb-legend">
        <button type="button" class="info-button">i</button>
        <div class="sb-legend-content">
            <div class="sb-legend-item">
                <img src="" alt="">
                <p>Hold</p>
            </div>

            <div class="sb-legend-item">
                <img src="" alt="">
                <p>Broken</p>
            </div>

            <div class="sb-legend-item">
                <img src="" alt="">
                <p>Conceded</p>
            </div>

            <div class="sb-legend-item">
                <img src="" alt="">
                <p>Break</p>
            </div>
        </div>
    </div>

    <!-- Scoreboard Content -->
    <div class="scoreboard-item-wrapper">
        <!-- Loop through every scorepoint -->
        <% gameStats.stats[0].point.forEach(scorePoint => { %>

            <!-- Check which team scored based on name, use games endpoint to compare scored with team1.name -->

            <%const team1 = gameData.games[0].team1.name%>
            <%const team2 = gameData.games[0].team2.name%>
            <%const scoredTeam = scorePoint.scored.name%>

            <%if (team1 === scoredTeam) {%>
                <div class="scoreboard-item">
                    <div class="scoreboard-team">
                        <!-- Player name, compare id with id in players endpoint-->
                        <p><%- scorePoint.scoredBy.name %></p>

                        <% let teamOneClass = "" %>
                        <!-- Icon based on type point -->
                        <!-- Check for class -->

                        <% switch (scorePoint.team1Class) {
                            case "hold":
                                teamOneClass = "hold"
                                break;

                            case "broken":
                                teamOneClass = "broken"
                                break;

                            case "conceded":
                                teamOneClass = "conceded"
                                break;

                            case "break":
                                teamOneClass = "break"
                                break;

                            default:
                                break;
                        } %>
                        <img src="<%- teamOneClass %>.svg" alt="">
                    </div>

                    <div class="point">
                        <p><span><%- scorePoint.team1Score %></span>-<span><%- scorePoint.team2Score %></span></p>
                    </div>
                </div>
            <%}%>

            <%if (team2 === scoredTeam) {%>
                <div class="scoreboard-item">
                    <div class="point">
                        <p><span><%- scorePoint.team1Score %></span>-<span><%- scorePoint.team2Score %></span></p>
                    </div>

                    <div class="scoreboard-team">
                        <!-- Player name, compare id with id in players endpoint-->
                        <p><%- scorePoint.scoredBy.name %></p>

                        <% let teamTwoClass = "" %>

                        <!-- Icon based on type point -->
                        <!-- Check for class -->
                        <% switch (scorePoint.team2Class) {
                            case "hold":
                                teamTwoClass = "hold"
                                break;

                            case "broken":
                                teamTwoClass = "broken"
                                break;

                            case "conceded":
                                teamTwoClass = "conceded"
                                break;

                            case "break":
                                teamTwoClass = "break"
                                break;

                            default:
                                break;
                        } %>
                        <img src="<%- teamTwoClass %>.svg" alt="">
                    </div>
                </div>
            <%}
            }) %>
    </div>

</section>