<!-- Team 1 -->
<section class="team-players team-one-players nav-blocks component">
	<!-- Team name & legend -->
	<div class="players-heading">
		<h2 class="team-name"><%- gameData.games[0].team1.name %></h2>
	</div>

	<!-- Get all players from team 1 -->
	<% const team1Players = playerData.players.filter(player => player.team.name === gameData.games[0].team1.name) %>

	<% team1Players.forEach(player => { %>
	<!-- Player row -->
	<button class="player-card">
		<div class="card-left">
			<p class="player-number"><%- player.jerseyNumber %></p>
			<p class="player-name"><%- player.name %></p>
		</div>
		<div class="card-right">
			<div class="actions">
				<%- include('./Actions', { player: player, gameStats }) %>
			</div>
		</div>
	</button>

	<!-- Player facts -->
	<%- include('./FactsModal', { player }) %>
	<% }) %>
</section>